<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="/src/output.css" rel="stylesheet">
</head>

<body>


    <footer class="bg-gray-500 m-4 rounded-2xl shadow-md">

        <div class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-1 md:grid-cols-3 gap-8">

            <!-- Company Info -->
            <div>
                <h2 class="text-xl text-black font-bold mb-3 underline">sobhan kart</h2>
                <p class="text-black text-lg">
                    Daily need e-commerce platform for best experience.
                </p>
            </div>

            <!-- Quick Links -->
            <div>
                <h3 class="text-xl font-bold mb-3 underline">Quick Links</h3>
                <a href="#" class="space-y-2 text-black text-lg hover:text-blue-700">Products</a>
                <!-- <ul class="space-y-2 text-gray-600 text-sm"> -->



            </div>

            <!-- Contact Info -->
            <div>
                <h3 class="text-xl text-black font-bold mb-3 underline">Contact</h3>
                <p class="text-black text-lg">Email: Ironman@gmail.com.</p>
                <p class="text-black text-lg">Phone: +91 infinite</p>
                <p class="text-black text-lg">Location: MilkyWay Galaxy</p>
            </div>

        </div>
<hr>
        <!-- Bottom Section -->
        <div class="text-center py-4 text-white text-lg">
             2026 Sobhan Kart.
        </div>

    </footer>
</body>

</html>